.homepage {
    height: 100vh;
}

.cards {
    margin-top: 2rem;
    display: grid;
    width: calc(100vw - 4rem);
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: auto;
    grid-gap: 2rem;
}

@media only screen and (max-width: 1360px){
    .cards {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media only screen and (max-width: 1080px){
    .cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 790px){
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}